.styles {
  --id: containers/typo/Challenge/styles.module.scss;

  background-color: lightgoldenrodyellow;
  height: 100%;
  padding: var(--dakerr-padding-size);

  .ownScores {
    background-color: lightsalmon;
    margin-top: 2rem;
    padding: var(--dakerr-padding-size);
  }
}
