.main {
  color: var(--dakerr-primary-color);
  padding-bottom: var(--dakerr-padding-size);
  padding-left: var(--dakerr-padding-size);
  padding-right: var(--dakerr-padding-size);
  padding-top: var(--dakerr-padding-size);
}
