.typo {
  padding: 1rem;
}

.game {
  border-top: 1px dashed black;
  background-color: lightyellow;
  height: 100%;
  padding: 1rem;
}

.scores {
  background-color: lightgoldenrodyellow;
  height: 100%;
  padding: 1rem;
}
